* {
  background-color: #5b7989;
  margin: 0.5px;
  padding: 0px
}
.Contenedor{
  color: White;
  border: solid black;
  padding-bottom: : 10px;
  border-radius: 10px 10px 0px 0px;
  text-shadow: 2px 2px 0px #02010a;
  font-style: italic;
  display: flex;
  flex-flow: row wrap;
}
.Encabezado{
  text-align: left;
  font-size:70px;
  flex-grow: 5
}
.Enlace1{
  text-align: right;
  font-size: 30px;
  text-decoration: underline;
  order: 1;
  flex-grow: 0.5;
  margin-top:25px

}
.Enlace2{
  text-align: right;
  font-size: 30px;
  text-decoration: underline;
  order: 2;
  flex-grow: 0.5;
  margin-top:25px

}
.Enlace3{
  text-align: right;
  font-size: 30px;
  text-decoration: underline;
  order: 3;
  flex-grow: 0.5;
  margin-top:25px

}
a{
  color: white;
  style: underline
}
.Principal{
  background-color: #82c3a6;
  padding: 10px;
}
img[src="Fotografias/Atardecer.jpg"]{
  width:1000px;
  display: block;
  margin: auto;
}
